body {
    height: 100vh !important;
    overflow-x: hidden;
}

.login-control {
    text-decoration: none;
    color: #414141;
}
.btn {
    width: 100% !important;
    height: 10% !important;
    border-radius: 24px !important;
    border: 2px solid #f88634 !important;
    color: #f88634 !important;
}

.login-carousel {
    padding-right: 0 !important;
}

.para {
    color: #414141 !important;
}

.fgpswd {
    color: #414141 !important;
}

@media screen and (max-width: 680px) {
    .login-detail {
        width: 80% !important;
        margin: auto !important;
    }

    .custom-caption p {
        font-size: 0.6rem !important;
    }
}
