.user-profile-image {
    height: 370px;
    width: 370px;
    /* border-radius: 100px;*/
}

.user-profile-div {
    position: relative;
}

.user-profile-img {
    height: 250px !important;
    width: 250px !important;
    /* border-radius: 100px;*/
}

.user-profile-div {
    position: relative;
}


.addimgplus {
    position: absolute;
    top: 180px;
    right: 420px;
    /* color: #F88634;*/
    font-size: 26px;
}

.imdupperdiv {
    border: 1px solid lightgrey !important;
}

.button-row {
    display: flex;
    justify-content: center;
}

.start-btn {
    margin-right: auto;
}

.end-btn {
    display: flex;
}

div.dataTables_wrapper div.dataTables_filter {
    display: none !important;
}
