@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<partial name="_Navbar1" />


<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #F88634 !important;
            background-color: white !important;
        }
            .policy-side-div{
 
            background-color: #F88634;
            }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h2 class="mb-2">Privacy and Cookies Policy</h2>

        <div class="row">
            <div class="col-4 policy-side-div">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1">Introduction</a>
                        <a class="nav-link" href="#item-2">How does use cookies?</a>
                        <a class="nav-link" href="#item-3">How to manage your cookies preferences?</a>
                    </nav>
                </nav>
            </div>

            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2 overflow-y-auto" style="height:600px;" tabindex="0">
                    <div id="item-1">
                        <h4>Introduction</h4>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, provident ipsam! Earum repellendus deserunt ex consectetur? Sint nostrum blanditiis explicabo corrupti eveniet doloremque iste neque officia optio obcaecati cumque totam tenetur voluptatum ipsam, rerum, repellat sequi minus est eos fugiat non ducimus? Impedit accusantium praesentium blanditiis quisquam sint dicta voluptate maxime laudantium ipsum suscipit officia, mollitia, asperiores nostrum culpa architecto, repudiandae sapiente at laborum itaque? Dolorem error, veniam quam ratione eos esse ullam dicta laudantium ipsam doloribus facere totam perspiciatis repellendus reprehenderit ipsa modi architecto voluptatem autem culpa et iste praesentium.


                            Aperiam, consectetur sunt sit repudiandae deserunt doloribus, dolore impedit quae eveniet consequuntur iure inventore sequi corrupti hic non eaque dolor! Illo vel cumque soluta, temporibus sed consequatur numquam dolore adipisci, mollitia odit asperiores voluptates culpa neque possimus inventore quae voluptatibus deserunt distinctio quidem quasi quia vero accusamus nihil? Nihil maiores, ad velit quam voluptatum ea doloremque in nisi dolor ut dignissimos ipsum, molestiae mollitia libero delectus, inventore excepturi numquam magni illum pariatur optio. Officia ducimus aut repellat voluptate explicabo obcaecati quisquam aspernatur quia minima, odit, at ratione dignissimos optio eos neque repellendus quos. Qui cum, molestias atque suscipit repudiandae eveniet hic distinctio dolor. Ex harum ab tenetur officiis? Quos quidem repudiandae voluptatibus, inventore dolores facilis ea nam, nisi voluptatem possimus eius unde vitae.

                            Mollitia ab, officia blanditiis quae sequi libero perferendis voluptatum dolor ad laboriosam qui accusamus corporis illum itaque temporibus cum dolore odit cumque dignissimos aperiam? Eligendi quas quia tempore incidunt rerum saepe ab nemo modi excepturi suscipit repellendus accusantium natus eaque facilis, numquam ipsum sunt autem illo! Aperiam deleniti dicta illum libero voluptates assumenda pariatur voluptate laborum beatae esse provident incidunt possimus optio, similique ad recusandae hic nulla eveniet quos vero autem eos nisi et ratione? Ab quo laboriosam cumque consequuntur consectetur aliquam aperiam, voluptatum mollitia non.
                        </p>
                    </div> <hr>
                    <div id="item-2">
                        <h4>How does use cookies?</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, provident ipsam! Earum repellendus deserunt ex consectetur? Sint nostrum blanditiis explicabo corrupti eveniet doloremque iste neque officia optio obcaecati cumque totam tenetur voluptatum ipsam, rerum, repellat sequi minus est eos fugiat non ducimus? Impedit accusantium praesentium blanditiis quisquam sint dicta voluptate maxime laudantium ipsum suscipit officia, mollitia, asperiores nostrum culpa architecto, repudiandae sapiente at laborum itaque?</p>
                        <h4>Why Optimy use these Technologies?</h4>    
                        <p>we use these technologies for a number of purposes</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        </ul>
                        <p>Mollitia ab, officia blanditiis quae sequi libero perferendis voluptatum dolor ad laboriosam qui accusamus corporis illum itaque temporibus cum dolore odit cumque dignissimos aperiam? Eligendi quas quia tempore incidunt rerum saepe ab nemo modi excepturi suscipit repellendus accusantium natus eaque facilis, numquam ipsum sunt autem illo! Aperiam deleniti dicta illum libero voluptates assumenda pariatur voluptate laborum beatae esse provident incidunt possimus optio, similique ad recusandae hic nulla </p>
                    </div>
                    <hr>
                    <div id="item-3">
                        <h4>How to manage your cookies preferences?</h4>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, provident ipsam! Earum repellendus deserunt ex consectetur? Sint nostrum blanditiis explicabo corrupti eveniet doloremque iste neque officia optio obcaecati cumque totam tenetur voluptatum ipsam, rerum, repellat sequi minus est eos fugiat non ducimus? Impedit accusantium praesentium blanditiis quisquam sint dicta voluptate maxime laudantium ipsum suscipit officia, mollitia, asperiores nostrum culpa architecto, repudiandae sapiente at laborum itaque? Dolorem error, veniam quam ratione eos esse ullam dicta laudantium ipsam doloribus facere totam perspiciatis repellendus reprehenderit ipsa modi architecto voluptatem autem culpa et iste praesentium.


                            Aperiam, consectetur sunt sit repudiandae deserunt doloribus, dolore impedit quae eveniet consequuntur iure inventore sequi corrupti hic non eaque dolor! Illo vel cumque soluta, temporibus sed consequatur numquam dolore adipisci, mollitia odit asperiores voluptates culpa neque possimus inventore quae voluptatibus deserunt distinctio quidem quasi quia vero accusamus nihil? Nihil maiores, ad velit quam voluptatum ea doloremque in nisi dolor ut dignissimos ipsum, molestiae mollitia libero delectus, inventore excepturi numquam magni illum pariatur optio. Officia ducimus aut repellat voluptate explicabo obcaecati quisquam aspernatur quia minima, odit, at ratione dignissimos optio eos neque repellendus quos. Qui cum, molestias atque suscipit repudiandae eveniet hic distinctio dolor. Ex harum ab tenetur officiis? Quos quidem repudiandae voluptatibus, inventore dolores facilis ea nam, nisi voluptatem possimus eius unde vitae.
                        </p>
                        <h5>Subtitle goes here</h5>
                        <p>
                            <ol>
                                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nemo voluptatem quas iusto.</li>
                                <ol>
                                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nemo voluptatem quas iusto.</li>
                                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nemo voluptatem quas iusto.</li>
                                </ol>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea culpa cum quisquam fugiat sunt expedita! Voluptatum harum labore rem aliquid.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea culpa cum quisquam fugiat sunt expedita! Voluptatum harum labore rem aliquid.</li>
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea culpa cum quisquam fugiat sunt expedita! Voluptatum harum labore rem aliquid.</li>
                            </ol>
                        </p>
                        <p class="h1">h1. Bootstrap heading</p>
                        <p class="h2">h2. Bootstrap heading</p>
                        <p class="h3">h3. Bootstrap heading</p>
                        <p class="h4">h4. Bootstrap heading</p>
                        <p class="h5">h5. Bootstrap heading</p>
                        <p class="h6">h6. Bootstrap heading</p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ipsa sunt corrupti deleniti harum nam temporibus rem asperiores et nihil, ad maxime nobis dolorem mollitia possimus alias doloremque? At reprehenderit voluptate reiciendis quo repudiandae quisquam debitis voluptatibus! Quos ea, iusto temporibus illo, nulla minus doloremque voluptatibus ratione ut delectus est!
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    document.querySelectorAll('#nav-tab>[data-bs-toggle="tab"]').forEach(el => {
        el.addEventListener('shown.bs.tab', () => {
            const target = el.getAttribute('data-bs-target')
            const scrollElem = document.querySelector(`${target} [data-bs-spy="scroll"]`)
            bootstrap.ScrollSpy.getOrCreateInstance(scrollElem).refresh()
        })
    })
</script>

@*<script src="~/js/privacypolicy.js"></script>*@
<script src="/lib/jquery/dist/jquery.min.js"></script>

</html>