@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model List<CI_PLatform_Entities.Models.Mission>
@inject IHttpContextAccessor Accessor*@
@*@using CI_Platform_Project.Models
@model VolunteeringViewModel*@


@{
    Layout = "_navbar";
}


<div id="missioncards">
    

</div>


