
@*@model CI_PLatform_Entities.Models.User*@
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="~/css/ForgotPassword.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="js/bootstrap.bundle.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 

</head>

<body>
    <div>
        @if (TempData["okay"] != null)
        {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.success('@TempData["okay"]');
            </script>
        }
    </div>

    <div class="row">
        <div id="carouselExampleCaptions"
             class="carousel slide login-carousel col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 container-fluid "
             data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption custom-caption d-block">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption custom-caption d-block">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                         class="d-block w-100" alt="...">
                    <div class="carousel-caption custom-caption d-block">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- <div class="row img-section">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-2">
                    <img src="/CI Platform Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                        class="img-fluid">
                </div>
            </div> -->
        </div>
        <div class="login-detail col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 align-self-center mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <form method="post" asp-action="ForgotPassword" asp-controller="ForgotPassword">
                        <div class="mb-3 ">
                            <h5 class="text-center fgpswd">
                                Forgot Password
                            </h5>
                            <p class="text-center para">Enter your email address you've using for your account below and we will send you a password reset   link</p>
                            <label for="exampleInputEmail1" asp-for="Email" class="form-label">Email address</label>
                            <input type=" email" asp-for="Email" placeholder="Enter your email address..." class="form-control"
                                   id="exampleInputEmail1" aria-describedby="emailHelp">
                             <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <p class="text-danger fs-2" >@ViewBag.EmailError</p>
                        <div class="mb-3">

                            <button type="submit" class="btn mt-4">Reset my Password</button>
                            <div>
                                <p class="text-center mt-3 login">
                                    <a asp-controller="User" asp-action="Index">Login</a>
                                </p>
                            </div>



                            <div class=" text-center mt-5">
                                <p>Privacy Policy</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</html>