@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_navigationSidebar";
}
<body>
    <div class="container-fluid d-flex">
        <div class="cmspage">
            <table id="userTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cms in Model.pages)
                    {
                        <tr>
                            <td>@cms.Title</td>
                            
                            <td>
                                @if (@cms.Status == 1)
                                {
                                    <span style="color:green">Active</span>
                                }
                                else
                                {
                                    <span style="color:red">Inactive</span>
                                }
                            </td>

                            <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" @*id="@fn.UserId"*@ onclick="editAdminUser(this.id)"></i> | <i class="fa fa-trash" style="color:red"></i></td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {

        $('#userTable').DataTable();
    });



</script>
