@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_navigationSidebar";
}


@model CI_Platform_Project.Models.AdminMissionViewModel;

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminMissions.css" />

</head>
<body>
    <div class="container-fluid">
        <div class="fs-4">
            CMS Page
        </div>

        <div class="row mt-1">
            <hr class="col-2" style="border: 2px solid black;">
            <hr class="col-10 ">
        </div>

        <div class="button-row mb-3">
            <div class=" start-btn">

                <input class="form-control me-2" id="myInputTextField" type="search" placeholder="Search" aria-label="Search">
            </div>

            <div class="end-btn">
                <button type="button" class="btn btn-outline-warning rounded-pill px-3 py-0 me-2" data-bs-toggle="modal" data-bs-target="#AddModal">
                    <i class="bi bi-plus-lg "></i> <span class="btn-label">Add</span>
                </button>
            </div>
            <!-- Modal -->
         
            <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                <div class="fs-5 bg-dark-subtle border p-3 col-12"> Add</div>

                                <div class="border ps-4 pb-5">

                                    <label class="mt-3">Skills</label>
                                    <div>
                                        <input class="col-12 " type="text" id="skill" placeholder="Enter skill" />
                                    </div>

                                    <label class="mt-2">Status</label>
                                    <div class="col-12 mt-2">
                                        <input class="col-12 " type="text" id="Status" />
                                    </div>

                                </div>

                                <input type="hidden" id="missionThemeId" value="0" name="missionThemeId" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn border-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn oran" onclick="AddEdit()" data-bs-dismiss="modal">Save</button>
                            </div>
                        </div>
                   
                </div>
            </div>
            @*End of Modal*@

        </div>





        <table id="userTable">
            <thead>
                <tr>
                    <th>Mission Skills</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var skill in Model.Skills)
                {
                    <tr>
                        <td>@skill.SkillName</td>

                        <td>
                            @if (skill.Status == 1)
                            {
                                <span style="color:green">Active</span>
                            }
                            else
                            {
                                <span style="color:red">Inactive</span>
                            }
                        </td>

                        <td>

                            <span>
                                <button class="btn shadow-none" @*onclick="approve(@themes.MissionApplicationId)*@">
                                    <i class="bi bi-pencil-square fs-5" style="color:green;"></i>
                                </button>
                            </span>
                            <span>
                                <button class="btn shadow-none" @*onclick="reject(@themes.MissionApplicationId)*@">
                                    <i class="bi bi-x-circle fs-5" style="color:red;"></i>
                                </button>
                            </span>

                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

    
</body>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" asp-append-version="true" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="~/js/missionApplication.js"></script>
</html>