@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using CI_PLatform_Entities.Models;
@model CI_Platform_Project.Models.StoryViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/ShareStory.css" asp-append-version="true">

    <title>Story Listing</title>
</head>

<body>


    <form method="post" asp-action="ShareStory" asp-controller="StoryListing" class="container" enctype="multipart/form-data">
        <input type="hidden" asp-for="StoryId" value="@Model.StoryId" />

        <div class="mt-2">
            <h2>Share your Story</h2>
        </div>
        <div class="row">

            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Select Mission</label>
                <select class="form-select" aria-label="Default select example" asp-for="MissionId">
                    <option selected>Open this select menu</option>
                    @foreach (var mission in ViewData["mission"] as IList<MissionApplication>)
                    {
                        <option value="@mission.MissionId">@mission.Mission.Title</option>
                    }

                </select>
            </div>


            <div class="mb-3 col ">
                <label for="exampleFormControlInput1" class="form-label">My Story Title</label>
                <input type="text" class="w-100 py-1 border-1  rounded-1" style="border-color:#ADADAD" placeholder="Enter Story Title" asp-for="Title">
            </div>


            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">Date</label>
                <input type="date" class="w-100 py-1 border-1  rounded-1" style="border-color:#ADADAD" placeholder="Select Date" asp-for="CreatedAt">
            </div>


        </div>

        <div class="col-12 mt-2">
            <textarea class="" name="editor1" asp-for="editor1"></textarea>
        </div>

        <div class="col-12 mt-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Video URL</label>
            <input type="text" class="w-100 py-1 border-1  rounded-1" style="border-color:#ADADAD" placeholder="Enter your url">
        </div>

        <label class=" fs-5 mt-2 "> Upload Your Photos</label>
        <div class="input-div">
            <p>Drag & drop photos here or <strong>Browse</strong></p>
            <input type="file" class="file" multiple="multiple" name="dragdrop" accept="image/jpeg, image/png, image/jpg">
        </div>

        <output class="d-flex"></output>

        <div class="row flex-column flex-md-row mt-4 mb-2">
            <div class="col-12 col-md-2 me-auto">
                <button class="w-100 bg-white rounded-5 py-2"name="action" value="cancel" type="submit">cancel</button>
            </div>
            <div class=" col-12 col-md-2 mt-2 mt-md-0 ">
                <button class="w-100 bg-white rounded-5 py-2 ms-0 ms-md-1 savecancelbtn" name="action" value="save" type="submit">Save</button>
            </div>
            <div class=" col-12 col-md-2 mt-2 mt-md-0">
                <button type="submit" class="w-100 bg-white rounded-5 py-2 ms-0 ms-md-1 savecancelbtn" name="action" value="submit">Submit</button>
            </div>

           @* <input type="hidden" asp-for="StoryId" value="@Model.StoryId"/>*@
        </div>
    </form>

</body>

<script>
    CKEDITOR.replace('editor1');
</script>

<script src="~/js/ShareStory.js" asp-append-version="true"></script>


</html>